*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.header{
    height: 20vh;
    width: 100vw;
    background: #aee2ed;
    color: white;
    text-align: center;
    display: flex;
    padding: 22px;
}
span{
    color: #7690c9;
}
.header p{
    justify-content: space-between;
    letter-spacing: 2px;
    font-size: 2vmin;
}
nav{
	display: flex;
	align-items: center;
	justify-content: right;
    background-color: #7690c9 ;
   
}
nav ul li{
	list-style-type : none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white;
    font-size: 2vmin;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}
.judul{
    background-color: #7690c9;
    width: fit-content;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    margin-left: 20px;
}
.me{
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
.about{
    background-color: #f6f6f6;
    height: fit-content;
    width: 50%;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
}
.kerja{
    border-collapse: collapse;
    width: 60vw;
    margin-left: 20vw;
}
.kerja th , .kerja td{
    border: 1.5px solid #ddd;
    padding: 8px;
    font-size: 2vmin;
}
.kerja th{
    background-color: #aee2ed;
    text-transform: uppercase;
    color: white;
}
.contact{
    background-color: #aee2ed;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20%;
}
.tombol{
    background-color: #7690c9;
    text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}
#footer{
	position: relative;
	width: 100%;
	height: 350px;
	background: #aee2ed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-top: 50px;
}
#footer p:nth-child(1){
	font-size: 4vmin;
	color: #7690c9;
	margin-bottom: 20px;
	font-weight: bold;
}
#footer p:nth-child(2){
	color:#7690c9;
	font-size: 2vmin;
	width: 500px;
	text-align: center;
	line-height: 27px;
}
.icon{
	display: flex;
	margin-bottom: 50px;
}
.icon a{
	color:white;
	align-items: center;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	text-decoration: none;
	font-size: 20px;
	margin: 22px 10px;
	background: #7690c9;
}
.icon a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:black;
	font-size: 15px;
	bottom: 35px;
}
/*Mobile Device*/
@media only screen and (max-width:850px){
nav{
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: #7690c9 ;
   
}
nav ul li{
	list-style-type : none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a{
	color: white;
    font-size: 2vmin;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}
.me{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.about{
    background-color: #f6f6f6;
    height: fit-content;
    width: 100%;
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;;
}

}